message/proto-go/*
message/proto-python/*
message/proto-js/*
out/*
server/go/server
client/go/client
server/python/server.pyz
client/python/client.pyz
server/java/server/target/*
server/java/server/src/main/proto/*
server/java/server/src/test/proto/*
server/java/server/.classpath
server/java/server/.project
server/java/server/.settings/*
client/java/client/target/*
client/java/client/src/main/proto/*
client/java/client/src/test/proto/*
client/java/client/.classpath
client/java/client/.project
client/java/client/.settings/*
server/js/server.exe
client/js/client.exe
server/js/node_modules/*
client/js/node_modules/*
server/js/package-lock.json
client/js/package-lock.json
